h1 {
color:black;
padding: 500 px }

.fotoPresentacion {
    height: 10em ; 
    width: 10em ; 
    margin-left: 1em}

.logoArgentinaPrograma
{   height: 5em ; 
    width: 10em ; 
    margin-left: 0.2em; 
    margin-bottom: :0.2em"
    
}